@font-face
	font-family: "ArialMT"
	src: url('../fonts/ArialMT/ArialMT.woff2') format('woff2'),
	url('../fonts/ArialMT/ArialMT.woff') format('woff'),
	url('../fonts/ArialMT/ArialMT.ttf') format('truetype')
	
@font-face
	font-family: "OpenSansLight"
	src: url('../fonts/OpenSansLight/OpenSansLight.woff2') format('woff2'),
	url('../fonts/OpenSansLight/OpenSansLight.woff') format('woff'),
	url('../fonts/OpenSansLight/OpenSansLight.ttf') format('truetype')

@font-face
	font-family: "PragmaticaSlabBold"
	src: url('../fonts/PragmaticaSlabBold/PragmaticaSlabBold.woff2') format('woff2'),
	url('../fonts/PragmaticaSlabBold/PragmaticaSlabBold.woff') format('woff'),
	url('../fonts/PragmaticaSlabBold/PragmaticaSlabBold.ttf') format('truetype')

@font-face
	font-family: "PragmaticaSlabBook"
	src: url('../fonts/PragmaticaSlabBook/PragmaticaSlabBook.woff2') format('woff2'),
	url('../fonts/PragmaticaSlabBook/PragmaticaSlabBook.woff') format('woff'),
	url('../fonts/PragmaticaSlabBook/PragmaticaSlabBook.ttf') format('truetype')

@font-face
	font-family: "PragmaticaSlabExtraLight"
	src: url('../fonts/PragmaticaSlabExtraLight/PragmaticaSlabExtraLight.woff2') format('woff2'),
	url('../fonts/PragmaticaSlabExtraLight/PragmaticaSlabExtraLight.woff') format('woff'),
	url('../fonts/PragmaticaSlabExtraLight/PragmaticaSlabExtraLight.ttf') format('truetype')

@font-face
	font-family: "TrebuchetMS"
	src: url('../fonts/TrebuchetMS/TrebuchetMS.woff2') format('woff2'),
	url('../fonts/TrebuchetMS/TrebuchetMS.woff') format('woff'),
	url('../fonts/TrebuchetMS/TrebuchetMS.ttf') format('truetype')

@font-face
	font-family: "TrebuchetMSBold"
	src: url('../fonts/TrebuchetMSBold/TrebuchetMSBold.woff2') format('woff2'),
	url('../fonts/TrebuchetMSBold/TrebuchetMSBold.woff') format('woff'),
	url('../fonts/TrebuchetMSBold/TrebuchetMSBold.ttf') format('truetype')